
.contact-info {
    display: inline-block;
    width: 245px;
    float: left;
    margin-top: 10px;
    text-align: right;
}

.contact-info .title {
    font-weight: bold;
    color: #ff7000;
    margin-bottom: 10px;
}

.office-map-wrap {
    display: inline-block;
    float: right;
    margin-top: 10px;
    background-image: url(../../images/ui/lines-bg.png);
}

.office-map {
    margin: 5px;
    width: 450px;
    height: 280px;
    /*border: 1px solid #ffb80f;*/
}

.contacts-content {
    width: 1200px;
    margin-top: -20px;
}

.contacts-content .left {
    width: 60%;
}

.contacts-content .right {
    width: 39%;
}

.contact-text {
    font-size: 30px;
    text-transform: uppercase;
    float: right;
    padding-bottom: 10px;
    padding-right: 110px;
}

.send-request-text {
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    padding-bottom: 10px;
    padding-left: 80px;
}

.request-form {
    padding-top: 10px;
}
