.flats-page {
    width: 800px;
    height: auto;
    margin-top: 20px;
}

.flats-page .left-part {
    width: 30%;
    display: inline-block;
    padding: 10px 20px;
    float: left;
}

.flats-page .general-floor {
    width: auto;
    height: auto;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.flats-page #general-floor-over {
    width: 240px;
    height: 490px;
    position: absolute;
    top: 294px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 20px;
}

.flats-page #general-floor-over-selected {
    width: 240px;
    height: 490px;
    position: absolute;
    top: 294px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 20px;
}

.general-floor.empty {
    width: 240px;
    height: 490px;
    position: absolute;
    top: 294px;
    display: inherit;
    margin-top: 20px;
}

.floor-controls {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-left: 5px;
}

.floor-number {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #dedede;
    padding: 5px;
    color: #0a2313;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.floor-number:hover {
    -webkit-transition: background-color 120ms linear;
    -moz-transition: background-color 120ms linear;
    -o-transition: background-color 120ms linear;
    transition: background-color 120ms linear;
    background-color: #e35707;
    color: #dedede;
}

.floor-number.selected {
    background-color: #e35707;
    color: #dedede;
}

.floor-number-text {
    text-align: left;
    font-size: 13px;
    color: #e35707;
}

.floor-number-text.floor2 {
    margin-left: 13px;
}

.floor-number-text.floor3 {
    margin-left: 42px;
}

.floor-number-text.floor4 {
    margin-left: 71px;
}

.floor-number-text.floor5 {
    margin-left: 100px;
}

.floor-number-text.floor6 {
    margin-left: 129px;
}

.floor-number-text.floor7 {
    margin-left: 158px;
}

.floor-number-text.floor8 {
    margin-left: 187px;
}

.flats-page .right-part {
    width: 64%;
    display: inline-block;
    float: right;
}



.flats-page .flat-title {
    height: 40px;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #747372;
}

.flats-page .flat-title .left {
    width: 50%;
    height: auto;
    font-weight: bold;
    font-size: 20px;
    padding-left: 25px;
}

.flats-page .flat-title .right {
    width: 40%;
    height: auto;
    text-align: right;
}
.flats-page .flat-wrapper {
    background-image: url(../../images/ui/lines-bg.png);
    padding: 10px;
    margin-top: 15px;
}

.flats-page .flat-inner {
    /*border: 1px dotted #ffb80f;*/
    background-color: #fff;
}

.pattern1, .pattern2 {
    position: relative;
    right: 5px;
}

.flat-info div {
    cursor: pointer;
    display: block;
    text-align: center;
}

.flat-info a {
    cursor: pointer;
    text-decoration: none;
    color: #5b3206;
    display: block;
}

.flat-info .controls {
    display: inline-block;
}
/* Pattern 1 styles */

.flats-page .pattern1 .flat {
    width: 490px;
    height: 375px;
    background-color: #fff;
}

.flats-page .pattern1 .flat-image {
    width: 100%;
    height: 340px;
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

.flats-page .pattern1 .flat-info {
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom: 25px;
}

.controls .control-elem {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 5px;

    -webkit-transition: color 120ms linear;
    -moz-transition: color 120ms linear;
    -o-transition: color 120ms linear;
    transition: color 120ms linear;
    color: #727170;
}
.controls .control-elem:hover {
    -webkit-transition: color 120ms linear;
    -moz-transition: color 120ms linear;
    -o-transition: color 120ms linear;
    transition: color 120ms linear;
    color: #e35707;
}

.control-elem p {
    margin-top: 7px;
}

.controls #flat-zoom {

}

.controls #plan {
}

.controls #see {
}

.controls #mebli {
}

/* Pattern 2 styles */

.flats-page .pattern2 .flat {
    width: 345px;
    height: 450px;
    background-color: #fff;
    display: inline-block;
}

.flats-page .pattern2 .flat-image {
    width: 100%;
    height: 470px;
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

.flats-page .pattern2 .flat-info {
    width: 121px;
    display: inline-block;
    background-color: #fff;
    float: right;
    padding: 12px 10px 0 10px;
    font-size: 12px;
}

/* Hover styles */

.kv1-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -219px -23px;
    width: 205px !important;
    margin-left: 31px;
}

.kv1-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -219px -23px;
    width: 205px !important;
    margin-left: 31px;
}

.kv2-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -114px 109px;
    width: 103px !important;
    margin-left: 125px !important;
}

.kv2-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -114px 109px;
    width: 103px !important;
    margin-left: 125px !important;
}

.kv3-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -4px 250px;
    width: 103px !important;
    margin-left: 125px !important;
}

.kv3-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -4px 250px;
    width: 103px !important;
    margin-left: 125px !important;
}

.kv4-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -615px 334px;
    width: 190px !important;
    margin-left: 39px !important;
}

.kv4-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -615px 334px;
    width: 190px !important;
    margin-left: 39px !important;
}

.kv5-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -519px 233px;
    width: 88px !important;
    margin-left: 8px !important;
}

.kv5-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -519px 233px;
    width: 88px !important;
    margin-left: 8px !important;
}

.kv6-hover {
    background-image: url(../../images/ui/flat-pattern.png);
    background-position: -425px 58px;
    width: 88px !important;
    margin-left: 8px !important;
}

.kv6-hover-selected {
    background-image: url(../../images/ui/flat-pattern-selected.png);
    background-position: -425px 58px;
    width: 88px !important;
    margin-left: 8px !important;
}

/* Flat images custom styles */

#kv1.flat-image {
    background-position: 3px 34px;
    background-size: 480px;
}

#kv2.flat-image {
    background-position: 20px 20px;
    background-size: 315px;
}

#kv3.flat-image {
    background-position: 19px 38px;
    background-size: 300px;
}

#kv4.flat-image {
    background-position: 33px 10px
}

#kv5.flat-image {
    background-position: 40px 40px;
    background-size: 280px;
}

#kv6.flat-image {
    background-position: 40px 22px;
    background-size: 280px;
}

#kv1.zoom-plan-image {
    background-position: 100px 40px;
    background-size: 600px;
}

#kv2.zoom-plan-image {
    background-position: 15px 10px;
    height: 535px;
    width: 380px;
    background-size: 360px;;
}

#kv3.zoom-plan-image {
    background-position: 35px 40px;
    height: 535px;
    background-size: 350px;
}

#kv4.zoom-plan-image {
    background-position: 180px 30px;
    background-size: 500px;
}

#kv5.zoom-plan-image {
    background-position: 50px 30px;
    background-size: 350px;
}

#kv6.zoom-plan-image {
    background-position: 30px 20px;
    background-size: 326px;
}

/* Сміття */

.arrow-left {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #727170;
    width: 10px;
    display: inline-block;
    position: relative;
    bottom: 270px;
    right: 25px;
}

#zoom-plan {
    text-align: center;
    /*width: 850px;*/
    /*height: 650px;*/
}

.zoom-plan-image {
    width: 800px;
    height: 430px;
    background-repeat: no-repeat;
}

.info-text {
    display: none;
}


/* fixing styles */

.flats-content {
    width: 1200px;
    margin-top: -70px;
    margin-bottom: 100px;
    padding-top: 30px;

    background-image: url(../../images/ui/line-gray-orange.png);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: 100px -5px;
}

.flats-content .right {
    width:  72%;
}

.flats-content .left {
    width: 28%;
}

.flatsText {
    width: 330px;
    text-align: right;
    font-size: 38px;
    display: inline-block;
    float: left;
    position: relative;
    top: 210px;
    text-transform: uppercase;
    color: #747372;
}

.zoom-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 100;
}

.zoom-plan.kv1 .zoom-plan-image, .zoom-plan.kv4 .zoom-plan-image {
    float: none;
    width: 800px;
    height: 400px;
}

.zoom-plan.kv1 .controls, .zoom-plan.kv4 .controls {
    float: none;
    width: 100%;
}

.zoom-plan.kv2, .zoom-plan.kv3, .zoom-plan.kv5, .zoom-plan.kv6 {
    width: 630px !important;
    height: 530px !important;
    margin-left: -360px !important;
}


.zoom-plan.kv2 .zoom-plan-image, .zoom-plan.kv3 .zoom-plan-image, .zoom-plan.kv5 .zoom-plan-image, .zoom-plan.kv6 .zoom-plan-image {
    width: 400px;
    height: 500px;
    float: left;
}

.zoom-plan.kv2 .controls, .zoom-plan.kv3 .controls, .zoom-plan.kv5 .controls, .zoom-plan.kv6 .controls {
    display: inline-block;
    width: 200px;
    margin-top: 85px;
    margin-right: 20px;
}

.zoom-plan .controls a {
    text-decoration: none;
}